* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  color: grey;
  font-size: 12px;
}

.fl{
  float:left;
}

.fr{
  float:right;
}

h3{
  color:#fff;
}

.border{
  border: 1px solid #fff;;
}

li:hover, p:hover{
  color: #fff;
}

p:after{
  content: "";
  display: block;
  width: 180px;
  border: 1px solid grey;
}
/* .clearfix{
  content: "";
  display: table;
  clear: both;
} */
/* utility class */

.wrapper{
  height: 100vh;
  width: 100vw;
  max-width: 100%;
} /* container */

.sidebar{
  background: #000;
  width: 200px;
  height: 100%;
  display: flex;
  line-height: 2.5;
}

.flex-column{
  flex-direction: column;
}

.sidebar .logo{
  width: 135px;
  height: 55px;
  margin: 15px 0;
}

.sidebar img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.playlist{
  list-style: none;
}

.side-item{
  width: 200px;
  margin-left: 10px;
}

.side-item-scroll{
  width: 200px;
  margin-left: 10px;
  padding-bottom: 150%;
  overflow-y: auto;
}

.side-item{
  width: 200px;
  margin-left: 10px;
}

.side-item .download{
  background: none;
  width: 15px;
  margin-right: 10px;
}

.side-item-content img{
  background: grey;
  border-radius: 10px;
}


main{
  background: #ccc;
  height: calc(100% - 90px);
}

.menu-contain{
  background: #141922;
  height: 100%;
  width: 100%;
  /* overflow-Y: auto; */
}

.menu-nav{
  background: rgba(0, 0, 0, 0.5);
  height: 90px;
  width: calc(100% - 200px);
}

.box-button{

}

.nav-button{
  background: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 25px;
  border-color: #fff;
  padding: 10px 40px;
  margin-top: 20px;
}

.content-nav{
  width: calc(100% - 200px);
  height: 80px;
  text-align: center;
}

.content-nav li{
  display: inline-block;
}

footer{
  background: #282828;
  position: fixed;
  width: 100%;
  height: 90px;
}
