* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  color: grey;
  font-size: 12px;
}

.fl{
  float:left;
}

.fr{
  float:right;
}

h3{
  color:#fff;
}

.border img{
  border-radius: 50%;
}

li:hover, p:hover{
  color: #fff;
}

span:after{
  content: "";
  display: block;
  width: 180px;
  border: 1px solid grey;
}
/* .clearfix{
  content: "";
  display: table;
  clear: both;
} */
/* utility class */

.wrapper{
  height: 100vh;
  width: 100vw;
  max-width: 100%;
} /* container */

.sidebar{
  background: #000;
  width: 230px;
  height: 100%;
  display: flex;
  line-height: 2.5;
}

.flex-column{
  flex-direction: column;
}

.sidebar .logo{
  width: 135px;
  height: 55px;
  margin: 15px 0;
}

.sidebar img{
  width: 20px;
  height: 20px;
  margin-right: 15px;
  vertical-align: middle;
}

.playlist{
  list-style: none;
}

.side-item{
  width: 200px;
  margin-left: 10px;
}

.side-item-scroll{
  width: 200px;
  margin-left: 10px;
  padding-bottom: 150%;
  overflow-y: auto;
}

.side-item{
  width: 200px;
  margin-left: 10px;
}

.side-item .download{
  background: none;
  width: 15px;
  margin-right: 10px;
}

.side-item-content img{
  background: grey;
  border-radius: 10px;
}


main{
  background: #ccc;
  height: calc(100% - 90px);
}

.menu-contain{
  background: #141922;
  height: 100%;
  width: 100%;
}

.menu-nav{
  background: rgba(0, 0, 0, 0.5);
  height: 90px;
  width: calc(100% - 230px);
  position: fixed;
  z-index: 1;
}

.nav-button{
  background: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 25px;
  border-color: #fff;
  padding: 10px 40px;
  margin-top: 20px;
  margin-right: 20px;
}

.content-nav{
  width: 100%;
  height: 140px;
  font-size: 16px;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 30px;
}

.content-nav li{
  display: inline-block;
  margin-right: 15px;
}

.content-nav .little-border:after{
  content: "";
  display: block;
  width: 40px;
  border-bottom: 1px solid yellowgreen;
  margin: 0 auto;
}

.navigation{
  width: calc(100% - 230px);
  height:100%;
  overflow-Y: auto;
}

.song{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  margin-bottom: 20px;
}

.song-item{
  flex-direction: row;
  width: 15%;
  margin-right: 25px;
  text-align:center;
}

.song-item img{
  width: 100%;
  padding-bottom: 15px;
}

.title-song{
  margin: 0px 0 15px 15px;
}

.title-song h2{
  color: #fff;
}

.song-item img:hover{
  background: rgba(0, 0, 0, 0.5);
}

footer{
  background: #282828;
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
}

.foot-start, .foot-end{
 width: 230px;
 display:flex;
 align-items: center;
 justify-content: space-between;
}

.track-foot{
  width: 20%;
}

.track-foot img{
  width: 100%;
}


.logo-font .fa{
  font-size: 15px;
  margin-left: 14px;
}

.player {
  width: 60%;
  text-align: center;
}

.player ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player ul li {
  list-style: none;
  font-size: 16px;
  padding: 10px;
}

.player ul li.big {
  font-size: 32px;
  padding: 10px 20px;
}

.player ul li.big:hover {
  transform: scale(1.2);
}

.player-control-time {
  background: grey;
  width: 50%;
  height: 4px;
}

.number{
  padding: 0 15px;
}

.player-control-time .time-line {
  position: relative;
  background: #fff;
  height: 100%;
}

.player-flexbox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.number{
 color: #fff;
}

.time-line .point {
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(50%, -50%);
  right: 0;
  top: 50%;
}

.player-control-time:hover .point {
  display: block;
}


.time-line:hover{
  background: yellowgreen;
}

.perc-20 {
  width: 20%;
}

.perc-40 {
  width: 40%;
}

.foot-end .fa{
  color: #fff;
  padding: 0 10px;
}

.volume-control{
    background: grey;
    width: 50%;
    height: 4px;
    margin: 0 auto;
}

.time-line-volume .point {
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(50%, -50%);
  top: 50%;
}

.time-line-volume:hover{
  background: yellowgreen;
}

.time-line-volume{
  position: relative;
  background: #fff;
  height: 100%;
}


@media (max-width: 575px) {

.song-item {
  flex-direction: row;
  width: 42%;
  margin-right: 25px;
  text-align: center
}

}
